@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-prev, .slick-next {
  color: black !important;  /* Makes arrows black */
  z-index: 10;
}

/* Optional: Make arrows larger */
.slick-prev::before, .slick-next::before {
  font-size: 24px !important;
  color: black !important;  /* Ensure arrows are black */
}